* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}

.question-card {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}

.question {
  border: 2px solid;
  border-color: red;
  border-radius: 10px;
  background-color: aquamarine;
}

button {
}

footer {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0px;
}

.answer {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: bisque;
}

.footer-button {
  background-color: blueviolet;
  padding: 5px 14px;
  border-radius: 25px;
}

.footer-menu {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}
