@import "./components/button.css";
@import "./components/card.css";
@import "./components/header.css";
@import "./components/navigation.css";

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}

.question {
  border: 2px solid;
  border-color: red;
  border-radius: 10px;
  background-color: aquamarine;
}

ul {
  list-style: none;
  padding: 0;
}
