@import "./components/button.css";
@import "./components/card.css";
@import "./components/header.css";
@import "./components/navigation.css";
@import "./components/header.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  background-color: #ff9b50;
  padding-bottom: 7%;
}

h2 {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}
