.question {
  border: 2px solid;
  border-color: red;
  border-radius: 10px;
  background-color: aquamarine;
}

.question-card {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
}

.answer {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

.bookmark {
  display: flex;
  justify-content: right;
  size: 50%;
}
