.question-card__question {
  border: 2px solid;
  border-color: red;
  border-radius: 10px;
  background-color: #e25e3e;
  margin: 5%;
}

.question-card {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  margin: 20px;
  background-color: #ffbb5c;
}

.question-card__answer {
  border: 2px solid;
  border-color: red;
  border-radius: 10px;
  background-color: #e25e3e;
  margin: 5%;
}

ul {
  list-style: none;
  padding: 0;
}

.question-card__bookmark {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  float: right;
  top: -65px;
}

.question-card__tag-list {
  display: flex;
  margin: 20px;
  justify-content: flex-start;
  gap: 8px;
}

.question-card__tag-list__tag {
  border-radius: 1px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #c63d2f;
}

.profile-card {
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  margin: 20px;
  background-color: #ffbb5c;
}
