ul {
  list-style: none;
  padding: 0;
}

footer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #ffbb5c;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  position: fixed;
  height: 7%;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-button {
  background-color: #e25e3e;
  padding: 5px 14px;
  border-radius: 25px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  align-self: center;
  width: 100%;
}
