fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  margin: 20px;
  background-color: #ffbb5c;
  gap: 5px;
}

.submit-form-legend {
  background-color: #e25e3e;
  border: 1px solid;
  border-radius: 25px;
  padding: 5px;
  display: flex;
}

input[type="text"] {
  display: flex;
  width: fit-content;
  align-self: center;
}

.form-character-count {
  margin: 0;
  text-align: right;
}

.question-card__tag-list__tag {
  border-radius: 1px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #c63d2f;
  width: 10%;
  align-self: center;
  margin-left: 20px;
}
