fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 25px;
  text-align: center;
  margin: 20px;
  background-color: #ffbb5c;
  gap: 5px;
}

.submit-form-legend {
  background-color: #e25e3e;
  border: 1px solid;
  border-radius: 25px;
  padding: 5px;
  display: flex;
}

input[type="text"] {
  display: flex;
  width: 50%;
  align-self: center;
}

input[type="submit-tag"] {
  display: flex;
  width: 50%;
  align-self: center;
}

#your-question {
  height: 100px;
}

#your-answer {
  height: 30px;
}
